PORT=5000
MONGODB_URI=mongodb://localhost:27017/mobitech
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# JWT
JWT_SECRET=4bdaad8596d5e30c311a137b5cff2962b838c59f95e95d472fda3b26f2de90e7
JWT_EXPIRES_IN=7d


ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=1234
ADMIN_NAME=Admin

CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here